# wl-kbptr can be configured with a configuration file.
# The file location can be passed with the -C parameter.
# Othewise the `$XDG_CONFIG_HOME/wl-kbptr/config` file will
# be loaded if it exits. Below is the default configuration.

[general]
home_row_keys=

[mode_tile]
label_color=#fffd
label_select_color=#fd0d
unselectable_bg_color=#2226
selectable_bg_color=#0304
selectable_border_color=#040c
max_num_sub_areas=512
min_sub_area_size=1250
enable_bisect=true

[mode_bisect]
label_color=#fffd
label_font_size=80
label_padding=32
pointer_size=40
pointer_color=#e22d
unselectable_bg_color=#2226
even_area_bg_color=#0304
even_area_border_color=#0408
odd_area_bg_color=#0034
odd_area_border_color=#0048
history_border_color=#3339
